@import "bootstrap-sprockets";
@import "bootstrap";


.navbar {
  border-radius:0;
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 200;
  box-shadow: 0px 1px 3px #2a2a2a;
  background:url('lodyas.png');
}

.navbar-inverse a.navbar-brand {
  font-family: 'black_jackregular', sans-serif;
  /* font-weight: 100; */
  /* color:white; */
  /* color: #2BBBFF; */
  /* color: #66d9ff; */
  /* color: #ffccdd; */
  color: #ffe6ff;
}

a.navbar-brand {
	font-size: 18pt;
	
}